@if (loadingService.loading$ | async) {
  <div class="flex bg-primary setting-up-draft-message-container">
    <h2 class="text-lg text-slate-600  font-bold">Setting Up Draft</h2>
    <app-loading-indicator></app-loading-indicator>
  </div>
}
@else {
  <div class="md:container md:mx-auto">

    <input
      type="number"
      placeholder="Enter # of Teams"
      [formControl]="numOfTeamsCtrl"
      class="input input-bordered w-full max-w-xs number-of-teams-input"
    />

    <button
      class="btn btn-primary"
      [disabled]="!canStartDraft"
      (click)="startDraft()"
    >
      Start Draft
    </button>

    <form *ngIf="teamsForm" [formGroup]="teamsForm" class="px-8">
      <div formArrayName="teams" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <div 
          *ngFor="let team of teamsFormArray.controls; index as i" 
          [formGroupName]="i"
          class="team-ctrl-container"
          [ngClass]="{'p-2 rounded-lg border border-white-300': selectedDraftPosition === i}"
        >
          <span (click)="selectTeam(i)" class="pick-position-indicator">{{i + 1}}.</span>
          <input
            formControlName="nameCtrl"
            class="input input-bordered w-full max-w-xs"
            type="text"
            placeholder="Enter Team Name"
          />
        </div>
      </div>
    </form>
  
    <div *ngIf="!teamsFormArray.controls.length">
      Enter the total number of teams in the league to get started
    </div>
  </div>
}
