<div class="container">
    <div class="draft-queue-carousel">
        <div class="draft-queue-card"></div>
    </div>
    <div class="main-container">
        <div class="roster-container">
            <div class="position"></div>
        </div>
        <div class="position-container"></div>
        <div class="position-container"></div>
        <div class="position-container"></div>
        <div class="position-container"></div>
        <div class="position-container"></div>
    </div>
</div>
