<div class="container">
    <div class="draft-queue-carousel-container overflow-hidden">
        <div class="carousel rounded-box flex gap-2 w-full overflow-x-scroll snap-x snap-mandatory">
          <!-- Loop through teams in league  -->
           @for (team of teams; track team; let index = $index) {
            <div class="carousel-item snap-center">
              <div class="card w-64 bg-primary text-primary-content">
                <div class="card-body">
                  <div class="title-container">
                    <h2 class="card-title">{{team.name}}</h2>
                    <div class="card-actions justify-end">
                      <button class="btn btn-sm">Roster</button>
                    </div>
                  </div>
                  <div class="round-info-container">
                    <span>Round 1</span>
                    <span>Pk.{{index + 1}}</span>
                  </div>
                </div>
              </div>
            </div>
           }
        </div>
    </div>

    <div class="main-container">
        <!-- Roster-->
        <div role="tablist" class="tabs tabs-bordered container">
          <a role="tab" class="tab">My Roster</a>
          <a (click)="selectTab(tabs.All)" [class.tab-active]="selectedTab === tabs.All" role="tab" class="tab" >All</a>
          <a (click)="selectTab(tabs.QB)" [class.tab-active]="selectedTab === tabs.QB" role="tab" class="tab">QB</a>
          <a (click)="selectTab(tabs.RB)" [class.tab-active]="selectedTab === tabs.RB" role="tab" class="tab">RB</a>
          <a (click)="selectTab(tabs.WR)" [class.tab-active]="selectedTab === tabs.WR" role="tab" class="tab">WR</a>
          <a (click)="selectTab(tabs.TE)" [class.tab-active]="selectedTab === tabs.TE" role="tab" class="tab">TE</a>
        </div>

        <div *ngIf="selectedTab === tabs.All" class="roster-container">
          <!-- Content for All -->
          <app-player-table [players]="allPlayers"></app-player-table>
        </div>
        <div *ngIf="selectedTab === tabs.QB" class="roster-container">
          <!-- Content for QB -->
          <app-player-table [players]="playersByPosition(tabs.QB)"></app-player-table>
        </div>
        <div *ngIf="selectedTab === tabs.RB" class="roster-container">
          <!-- Content for RB -->
          <app-player-table [players]="playersByPosition(tabs.RB)"></app-player-table>
        </div>
        <div *ngIf="selectedTab === tabs.WR" class="roster-container">
          <!-- Content for WR -->
          <app-player-table [players]="playersByPosition(tabs.WR)"></app-player-table>
        </div>
        <div *ngIf="selectedTab === tabs.TE" class="roster-container">
          <!-- Content for TE -->
          <app-player-table [players]="playersByPosition(tabs.TE)"></app-player-table>
        </div>
    </div>
</div>
