.container {
  margin: 0 auto;
  margin-top: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 14px 24px;
}

.draft-queue-carousel-container {
  margin-bottom: 1.5em;
  display: flex;
  overflow-x: scroll;
  gap: .5em;
}

.carousel-item {
  margin: 5px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.round-info-container {
  display: flex;
  flex-direction: column;
}

.round-info-container span {
  margin-right: .2em;
}

.card-title {
  font-size: .9rem;
  line-height: .5rem;
}

.round, .pick {
  font-size: .75rem;
}
