<div class="container">
    <div class="draft-queue-carousel-container container mx-auto">
      <app-carousel [teams]="teams"></app-carousel>
    </div>

    <div class="main-container">
        <!-- Roster-->
        <div role="tablist" class="tabs tabs-bordered container">
          <a role="tab" class="tab">My Roster</a>
          <a (click)="selectTab(tabs.All)" [class.tab-active]="selectedTab === tabs.All" role="tab" class="tab" >All</a>
          <a (click)="selectTab(tabs.QB)" [class.tab-active]="selectedTab === tabs.QB" role="tab" class="tab">QB</a>
          <a (click)="selectTab(tabs.RB)" [class.tab-active]="selectedTab === tabs.RB" role="tab" class="tab">RB</a>
          <a (click)="selectTab(tabs.WR)" [class.tab-active]="selectedTab === tabs.WR" role="tab" class="tab">WR</a>
          <a (click)="selectTab(tabs.TE)" [class.tab-active]="selectedTab === tabs.TE" role="tab" class="tab">TE</a>
        </div>

        <div [ngSwitch]="selectedTab" class="roster-container">
          <div *ngSwitchCase="tabs.All">
            <!-- Content for All -->
            <app-player-table
              [players]="allPlayers"
              (draftedPlayer)="draftPlayer($event)"
            ></app-player-table>
          </div>
          <div *ngSwitchCase="tabs.QB">
            <!-- Content for QB -->
            <app-player-table
              [players]="playersByPosition(tabs.QB)"
              (draftedPlayer)="draftPlayer($event)"
            ></app-player-table>
          </div>
          <div *ngSwitchCase="tabs.RB">
            <!-- Content for RB -->
            <app-player-table
              [players]="playersByPosition(tabs.RB)"
              (draftedPlayer)="draftPlayer($event)"
            ></app-player-table>
          </div>
          <div *ngSwitchCase="tabs.WR">
            <!-- Content for WR -->
            <app-player-table
              [players]="playersByPosition(tabs.WR)"
              (draftedPlayer)="draftPlayer($event)"
            ></app-player-table>
          </div>
          <div *ngSwitchCase="tabs.TE">
            <!-- Content for TE -->
            <app-player-table
              [players]="playersByPosition(tabs.TE)"
              (draftedPlayer)="draftPlayer($event)"
            ></app-player-table>
          </div>
          <div *ngSwitchDefault>
            <!-- Default content if none of the cases match -->
            <p>Select a tab to view the players.</p>
          </div>
        </div>

    </div>
</div>
